/* Write your CSS here */
.home-bg {
  display: flex;
  flex-direction: row;
}
.bg-1 {
  background-color: #f6f6f6;
  width: 1280px;
}
.head {
  color: rgb(0, 102, 255);
  font-weight: 600;
}
.but {
  background-color: #090d73;
  color: #fff;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  margin-top: 40px;
  margin-left: 180px;
  font-weight: 600;
}
.table {
  background-color: #090d73;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  height: 70px;
}
