.slide-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 250px;
  padding: 10px;
  box-shadow: inset;
}
.slide-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide-li {
  display: flex;
  align-items: center;
  width: 100px;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
}
.selected {
  background-color: rgb(183, 233, 233);
  border-radius: 8px;
}
.slide-cont {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
